@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    letter-spacing: 1px;
}

p {
    font-weight: 300;
    letter-spacing: 1px;
}

a,
a:visited {
    color: #6193c7;
}

.text-container {
    max-width: 90%;
    margin: 0 auto
}

#map {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

#map2 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

/* legend 1 */
.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25em;
    overflow: auto;
    border-radius: 3px;
    z-index: 1;
}

#features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    margin-bottom: 40px;
    width: 100px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/* legend 2 */
.map-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    overflow: auto;
    border-radius: 3px;
    z-index: 1;
}

#features2 {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 200px;
}

#legend2 {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    margin-bottom: 40px;
    width: 100px;
}

.legend-key2 {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}